$color-background-main: #323232;
$color-background-light: #454545;
$color-background-white: #fff;
$color-green-main: #2eb398;
$color-foreground-main: #e0e0e0;

*, *::after, *::before {
	margin: 0;
	padding: 0;
	border: 0;
}
/*******************************
 *   All above is CSS reset    *
 *******************************/ 
html {
    font-size: 1em;
    font-family: Lato; 
} 

 .header {
     background-color: $color-background-main;
     color: $color-foreground-main;
     height: 60px;
 }

 .menu
 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 ;
    list-style: none;
    text-transform: uppercase;

    &__logo {
        background-image: url('/../images/logo.jpg');
        background-repeat: no-repeat;
        position: relative;
        width: 65px; 
        height: 55px;
        margin: 0 30px;
        margin-top: 10px;
           
        &:before,&:after {
            content: "";
            position: absolute;
            left: -1.65rem;
            width: 0;
            border-left: 60px solid transparent;
            border-right: 60px solid transparent;
        }
    
        &:after {
            top: 96%;
            border-top: 30px solid $color-background-main;
        }
    }

    .left{
        margin-left: 15px;
    }

    .right{
        margin-right: 15px;
    }
    &__item + &__item::before{
        padding-right:15px;
        content: "•";
        font-size: .3rem;
        vertical-align: middle;
        color: $color-foreground-main;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }

    .active {
        color: $color-green-main;
    }
   
    &::before{

    }
 }

 .portfolio {
     background-color: $color-green-main;
 }